/*全体*/
.all {
  color: black;
  text-align: center;
  font-family: inherit;
}

body {
  margin: 0;
}

/*ヘッダー------------------------------------------*/
.title {
  font-size: 50px;
  text-align: left;
}

.subtitle {
  font-size: 20px;
  text-align: left;
}

.form {
  position: absolute; top:0%; right:0%;
}

.menu li {
  display: inline;
  padding: 0px 40px;
  float: left;
  width: 287px;
  list-style-type: none;
}

.menu ul {
    display: table;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.menu a {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    color: white;
}

.menu a:hover {
    background-color: darkgray;
}

/*メイン------------------------------------------*/
.logo {
  position: relative;
}

.logo img {
  background-size: cover;
}

.logo-name {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.logo-title {
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.logo-name {
  display: block;
  font-size: 90px;
  line-height: 1;
  color: #gray;
  margin-bottom: 100px;
}

.logo-title {
  font-size: 40px;
  font-weight: normal;
  color: #black;
  line-height: 1;
  letter-spacing: .1em;
}

.main_top {
  margin-bottom: 200px;
}

.news {
  display: flex;
  color: white;
  background-color: black;
}

.movie {
  display: flex;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}

@media (min-width:850px) {
  .wrap {
    display: table;
    width: 100%
  }
  .left_content {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
  }

  .left_content_news {
    padding-left: 20px;
  }

  .news-main-top {
    padding-top: 10px;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .newsdata a{
    margin-left: 400px;
  }

  .right_content {
    display: table-cell;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
  }

}
/*フッター------------------------------------------*/
.iro {
  display: flex;
}

.menu_sub li {
  background-color: silver;
  display: inline;
  padding: 0px 40px;
  float: left;
  width: 287px;
  list-style-type: none;
}

.menu_sub ul {
    display: table;
    width: 100%;
    overflow: hidden;
}

.menu_sub a {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: silver;
    color: black;
}

.menu_sub a:hover {
    background-color: white;
}


.copyright p {
  margin-top: 50px;
  margin-bottom: 0px;
}

/*色々------------------------------------------*/
.grid {
  margin: 50px 200px;
}

.grid li {
  margin-top: 30px;
  margin-right: 90px;
  float:left;
  list-style: none;
}

.grid img {
  width: 150px;
  height: 150px;
  background-size:contain;
}


.corner-title p {
  color: white;
  background-color: black;
  margin: 40px 50px;
  padding: 10px;
}

.news-main {
  padding-top: 10px;
  padding-left: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.news-date {
  padding-bottom: 20px;
}

.news-name {
  padding-left: 60px;
}

.news-content {
  padding-left: 100px;
  padding-bottom: 20px;
}

.pro-Contents_Box{
}

.pro-Contents_Photo {
  text-align: left;
}

.pro-Contents_Photo img {
  background-size: contain;
  display: table;
  margin-left: 350px;
  margin-bottom: 20px;
  width:40%;

}

.pro-Contents_Prof {
  width:30%;
  position: absolute;
   top:330px; right:350px;
}

.pro-Contents_Prof h5 {
  font-family: serif;
  font-weight: 100;
  font-size: 20px;
  text-align: left;
  margin-bottom: -20px;
}

.pro-Contents_Prof h1 {
  font-family: serif;
  font-weight: 100;
  font-size: 50px;
  text-align: left;
}

.pro-Contents_Text {
  text-align: left;
}
